p{
    font-family: Arial, Helvetica, sans-serif;
    color: #33303e;    
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: #330000;
}
#ultimoParagrafo{
    color: #777;   
    text-align: center; 
}
div{
    border-width:2px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 8px;
}